<div class="d-flex justify-content-center mt-5">
    <div class="col-3">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="text-center mb-4">
                <h1 class="h3 mb-3 font-weight-normal">Register</h1>
            </div>

            <div class="form-label-group">
                <input 
                    formControlName="displayName" 
                    [ngClass]="registerForm.get('displayName').invalid ?
                     registerForm.get('displayName').touched ? 'is-invalid':null : 'is-valid'"
                    type="displayName" id="inputDisplayName" 
                    class="form-control" 
                    placeholder="Display name"
                >
                <label for="inputDisplayName">Display name</label>
                <span class="text-danger"
                    *ngIf="registerForm.get('displayName').invalid
                    && registerForm.get('displayName').touched
                    && registerForm.get('displayName').errors['required']"
                >
                    Display name is required
                </span>

            </div>

            <div class="form-label-group">
                <input 
                    formControlName="email" 
                    [ngClass]="registerForm.get('email').invalid ?
                    registerForm.get('email').touched ? 'is-invalid':null : 'is-valid'"
                    type="email" id="inputEmail" 
                    class="form-control" 
                    placeholder="Email address"
                >
                <div *ngIf="registerForm.get('email').status === 'PENDING'" class="fa fa-spinner fa-spin loader"></div>
                <label for="inputEmail">Email address</label>
               
                    <span class="invalid-feedback"
                        *ngIf="registerForm.get('email').invalid 
                        && registerForm.get('email').touched
                        && registerForm.get('email').errors['required']"> Email address is required
                    </span>
                    
                    <span 
                        *ngIf="registerForm.get('email').invalid 
                        && registerForm.get('email').touched
                        && registerForm.get('email').errors['pattern']">Email address is not valid
                    </span> 

                    <span class="invalid-feedback d-block" 
                        *ngIf="registerForm.get('email').invalid 
                        && registerForm.get('email').dirty
                        && registerForm.get('email').errors['emailExists']"> Email address is use
                    </span> 

            </div>

            <div class="form-label-group">
                <input 
                    formControlName="password"
                    [ngClass]="registerForm.get('password').invalid ?
                    registerForm.get('password').touched ? 'is-invalid':null : 'is-valid'" 
                    type="password" id="inputPassword" 
                    class="form-control" placeholder="Password"
                >
                <label for="inputPassword">Password</label>
                <span class="text-danger"
                *ngIf="registerForm.get('password').invalid
                && registerForm.get('password').touched
                && registerForm.get('password').errors['required']"
            >
                Password is required
            </span>
            </div>
            <ul class="text-danger list-unstyled" *ngIf="errors">
                <li *ngFor="let error of errors">
                    {{error}}
                </li>
            </ul>
            <button [disabled]="registerForm.invalid" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
    </div>
</div>